$colors: (
    purple: #9356DC,
    pink: #FF79DA,
    green: #99E2D0
);

@each $colors, $hex in $colors {
    --#{$colors} {
        background-color: $hex;
    }
}


body {
    font-family: 'Roboto', sans-serif;
    margin: 20px 0px;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 113px;
        .logo__header {
            height: 36px;
            padding-bottom: 10px;
        }
        .loc__header {
            display: flex;
            justify-content: center;
            gap: 20px;
            background-color: #EAEAEA;
            width: 100%;
            text-align: center;
    
        }
        p {
            font-size: 23px;
            font-weight: 500;
        }
}

.explore {
    text-align: center;
    background-color: #F6F6F6;
    padding-bottom: 50px;
        h1 {
            margin-top: 0;
            padding-top: 30px;
        }
        p {
            font-size: 18px;
            font-weight: 300;
        }
        button {
            height: 50px;
            width: 218px;
            font-size: 16px;
            background: linear-gradient(to bottom, #FF79DA, #9356DC);
            color: white;
            border-radius: 25px;
            border: none;
            box-shadow: grey;
        }

}