body {
    font-family: 'Roboto', sans-serif;
    margin: 20px 0px;
}


header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    .top__header {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    
        a {
          justify-self: start;
          position: absolute;
          margin-right: 90%;
          margin-bottom: 10px;
          color: black;
          font-size: 30px;
        }
      }
      
        .logo__header {
            height: 36px;
            padding-bottom: 10px;
        }
        .img__header {
            width: 100%;
        }
}

main {
    background-color: #EAEAEA;

   .top__main{
        display: flex;
        justify-content:space-between;
        align-items: center;
        width: 100%;
        margin: 0px 10px;
         h1 {
        font-family: 'Shrikhand';
        font-size: 34px;
        font-weight: 400;
    }
        i {
            margin-right: 20px;
            font-size: 30px;
         }
        }
        .entrée, .plat , .dessert {
            display: flex;
            flex-direction: column;
            align-items: center;
                h4 {
                font-size: 20px;
                font-weight: 300;
                align-self: flex-start;
                margin-left: 15px;
                span {
                border-bottom: #99E2D0 4px solid;
            }

         }
            .card {
                background-color: white;
                display: flex;
                border-radius: 25px;
                flex-direction: column;
                justify-content: center;
                width: 90%;
                padding: 15px;
                margin: 10px;
                box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
                    .card__title {
                        margin: 5px;
                        font-size: 22px;
                    }
                    .card__content{
                        display: flex;
                        justify-content: space-between;
                        p {
                        margin: 5px;
                        font-weight: 300;
                        font-size: 22px;
                    }
                    .card__price {
                        font-weight: 700;
                        color: #353535;
                    }

                }    
        }    
        }
    button {
        height: 50px;
        width: 218px;
        font-size: 16px;
        background: linear-gradient(to bottom, #FF79DA, #9356DC);
        color: white;
        border-radius: 25px;
        border: none;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
        margin-top: 30px;
        margin-bottom: 40px;

    }
}

    